<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Footer.html">
    <link rel="stylesheet" href="./layout.css">
    <title>Footer</title>
</head>
<body>
    <footer class="footer">
        <!-- <div class="hero">
            <div class="mask-dark"></div>
            <div class="container">
                <a href="#!" class="brand"></a>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About Google Map Api</a>
                    </li>
                    <li class="nav-item">
                        <a href="#js" class="nav-link">JavaScript API </a>
                    </li>
                    <li class="nav-item">
                        <a href="#mixApi" class="nav-link">Places & Directions API</a>
                    </li>
                    <li class="nav-item">
                        <a href="#other" class="nav-link">Other Functions</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="copyright">
            <p>© Copyright 2022 All rights reserved by Shack</p>
        </div>
    </footer>
</body>
</html>